@model Customer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3> Create Customer </h3>

<form asp-action="Create" asp-controller="Home" method="post">

    <div class="form-group">
        <label>
            Customer First Name <span class="text-danger">*</span>
            <span asp-validation-for="@Model.FirstName"></span>
        </label>
        <input asp-for="@Model.FirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label>
            Customer Last Name <span class="text-danger">*</span>
            <span asp-validation-for="@Model.LastName"></span>
        </label>
        <input asp-for="@Model.LastName" class="form-control" />
    </div>

    <div class="form-group">
        <label>
            Customer Age <span class="text-danger">*</span>
            <span asp-validation-for="@Model.Age"></span>
        </label>
        <input asp-for="@Model.Age" class="form-control" />
    </div>

    <div class="form-group text-left">
        <button type="submit" class="btn btn-primary"> Create </button>
    </div>

    <div asp-validation-summary="All" class="text-danger">

    </div>

</form>

@section Scripts {
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}