@model List<Customer>
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h3>News List</h3>
    <paragraph short-description="DengizUmit"></paragraph>
    <div class="col-4">
        @await Component.InvokeAsync("News", new { @color="red" })
        @*<partial name="_NewsPartial" model="NewsContext.List" />*@
    </div>

    <div class="col-8">
        <h3>Customers List</h3>
        <a asp-action="Create" , asp-controller="Home">Create</a>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <td> First Name </td>
                    <td> Last Name </td>
                    <td> Age </td>
                    <th>  </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td> @item.FirstName </td>
                        <td> @item.LastName </td>
                        <td> @item.Age </td>
                        <td>
                            <a asp-action="Update" , asp-controller="Home" , asp-route-id="@item.Id">Update</a>
                            <a asp-action="Delete" , asp-controller="Home" , asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>