@model AspNetCore.Models.Customer

@{

}

<p>
    ViewBag.Name = @ViewBag.Name
</p>

<hr />

<p>
    ViewData["Name"] = @ViewData["Name"]
</p>

<hr />

<p>
    TempData["Name"] = @TempData["Name"]
</p>

<hr />

<p>
    First Name = @Model.FirstName
    <br/>
    Last Name = @Model.LastName
    <br/>
    Age = @Model.Age
</p>

